<p> <%= @page.content&.html_safe %> </p>

<%= form_with(url: page_path(@page.id),  method: :put) do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>

  <%= form.submit 'Guardar cambios' %>
<% end %>
