<!DOCTYPE html>
<html>
  <head>
    <title>Astrolang</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="hero is-light">
      <div class="hero-head">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img src="https://gghtec.com/wp-content/uploads/2023/05/Frame-172-2.png" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">Documentation</a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">More</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">About</a>
                  <a class="navbar-item">Jobs</a>
                  <a class="navbar-item">Contact</a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">Report an issue</a>
                </div>
              </div>
            </div>
            <div class="navbar-end">
              <a class="navbar-item">
                <figure class="image is-16x16" style="margin-right: 8px;">
                  <img src="https://gghtec.com/wp-content/uploads/2023/05/Frame-1430101569.png">
                </figure>
                Welcome Nova!
              </a>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="section">
      <div class="columns">
        <aside class="column is-2">
          <nav class="menu">

            <h3 class="title is-5"><strong class="title is-5"> Moonshot Website</strong></h3>

            <% if current_user %>
              <% @pages.each do |page| %>
                <article class="message is-primary">
                  <div class="message-header">
                    <strong><%= link_to page.title, page_path(page) %></strong>
                    <button class="edit" aria-label="edit"></button>
                  </div>
                  <div class="message-body">
                    Created: <a class="subtitle is-6 has-background-primary-light	"><%=  page.created_at %></a>
                  </div>
                </article>
              <% end %>
            <% end %>

            <button class="button is-fullwidth is-primary"><b>Add new page</b></button>
          </nav>
      </aside>

      <main class="column">

        <div class="columns">
          <div class="column is-12">
            <div class="panel">
              <div class="tabs">
                <ul>
                  <li class="is-active"><a>Desktop</a></li>
                  <li><a>Tablet</a></li>
                  <li><a>Mobile</a></li>
                </ul>
              </div>
              <%= yield %>
            </div>
          </div>
        </div>
      </main>
    </div>
    </div>
  </body>
</html>
